<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>소석</title>
    <link rel="stylesheet" href="resources/static/css/style.css" />
</head>
<body>
<input id="toggle-menu-btn" type="checkbox" />
<div id="left-menu">
    <nav>
        <ul>
            <li><a href="#">RING</a></li>
            <li><a href="#">BRACELET</a></li>
            <li><a href="#">NECKLACE</a></li>
            <li><a href="#">BOOKMARK</a></li>
            <li><a href="#">KEYRING</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    </nav>
</div>
<div id="right-content-overlay"></div>
<div id="right-content">
    <header>
        <div class="input-container">
            <label id="toggle-menu-label" for="toggle-menu-btn">
                <img class="icon-img" src="resources/static/img/menu.png" alt="메뉴" />
            </label>
        </div>
        <h3>SOSEOK</h3>
        <div>
            <a href="#">
                <img class="icon-img"
                     src="resources/static/img/person.png"
                     title="로그인/회원가입"
                     alt="로그인/회원가입"
                />
            </a>
            <a href="#">
                <img class="icon-img"
                     src="resources/static/img/shopping_cart.png"
                     title="장바구니"
                     alt="장바구니"
                />
            </a>
        </div>
    </header>
    <main>
        <section>신상품</section>
        <section>베스트셀러</section>
    </main>
    <footer>
        <p>소석 사업자 정보</p>
    </footer>
</div>
</body>
<script src="resources/static/js/javascript.js"></script>
</html>
