<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>소석</title>
    <link rel="stylesheet" href="resources/static/css/style.css">
</head>
<body>
    <div id="left-menu">
        <nav>
            <ul>
                <li>RING</li>
                <li>BRACELET</li>
                <li>NECKLACE</li>
                <li>BOOKMARK</li>
                <li>KEY_RING</li>
                <li>고객센터</li>
            </ul>
        </nav>
    </div>
    <div id="right-content">
        <header>
            <h3>SOSEOK</h3>
            <div>
                <a href="#">로그인/회원가입</a>
                <a href="#">장바구니</a>
            </div>
        </header>
        <section>
            신상품
        </section>
        <section>
            베스트셀러
        </section>
        <footer>
            <p>소석 사업자 정보</p>
        </footer>
    </div>
</body>
<script src="resources/static/js/javascript.js"></script>
</html>